---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Hide permalink anchors on headings
.page__content h1 .header-link,
.page__content h2 .header-link {
	display: none !important;
}

// Make author profile photo larger
.author__avatar {
	display: table-cell;
	vertical-align: top;
	width: 200px;
	height: 200px;

	@include breakpoint($large) {
		display: block;
		width: auto;
		height: auto;
	}

	img {
		max-width: 200px;
		border-radius: 50%;
		border: none !important;
		padding: 0 !important;
	}
}

// Smaller on mobile
@media (max-width: 63.9375em) {
	.author__avatar {
		width: 110px;
		height: 110px;
	}

	.author__avatar img {
		max-width: 110px;
	}
}

// Fix sidebar opacity
@media (min-width: 64em) {
	.sidebar {
		opacity: 1 !important;
	}

	.sidebar:hover {
		opacity: 1 !important;
	}
}